<!DOCTYPE html>
<html>
<head>
  <title>So You Think You Know Latin?</title>
  <script src="https://use.fontawesome.com/ee14bb1f23.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <div class="title">
      So You Think You Know Latin
    </div>
    <div class="links">
      <%= link_to 'Home', root_path %>
          <!-- Button trigger modal -->
      <%= link_to 'Add', '#', data: {toggle: 'modal', target: '#myModal'} %>
      <%= link_to 'How to Use', about_path %>
    </div>
</header>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2>Add an exercise</h2>
        </div>
        <div class="modal-body">
          <div class="form">
            <%= simple_form_for Activity.new do |f| %>
              <%= f.input :exercise, label: "Exercise", placeholder: "Decline/conjugate/translate..." %>
              <br>
              <%= f.input :level, label: "Level (e.g. Latin I, Latin III, intermediate, etc)", placeholder: "Latin I" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="form-button form-clear" data-dismiss="modal">Close</button>
          <%= f.submit 'Submit', class: 'form-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <% if flash[:error].present? %>
    <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>

<%= yield %>

</div>

  <div class="footer">
      <p class="text-muted text-center">Made by <a class="contact" href="http://www.kellylougheed.com" target="_blank">Kelly Lougheed</a>. <a class="contact" href="mailto:hello@kellylougheed.com?Subject=Hello"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  <a class="contact" href="https://www.linkedin.com/in/kelly-lougheed-ba147b121" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a class="contact" href="https://github.com/kellylougheed" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a class="contact" href="http://www.twitter.com/kellylougheed" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
  </div>

</body>
</html>