<!DOCTYPE html>
<html>
<head>
  <title>Latin Emergency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 titles">
      <span class="title">Latin<span class="orange">Emergency</span></span><br>
      <span class="subtitle">last-minute exercises for your class</span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 links text-right">
      <%= link_to 'Contribute', '#' %> -
      <%= link_to 'How to Use', '#' %>
    </div>
</header>

<div class="content">

<%= yield %>

</div>

</body>
</html>